<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>OUR BLOG</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel=”preconnect” href=”https://fonts.gstatic.com”>
        <link href=”https://fonts.googleapis.com/css2?family=Roboto&display=swap” rel=”stylesheet”>
    </head>
    <body>
        <div><h1><a href=”/”>Our blog</a></h1></div>
        <div>
            <h2><a href=””>First post</a></h2>
            <p>Published on: 14.06.2019, 12:14</p>
            <p>Στην Ελλάδα για λογαριασμό της ΑΕΚ έφτασε το μεσημέρι της Τετάρτης (31/1) ο
                Ρόμπερτ Λιούμπιτσιτς, προκειμένου να ολοκληρώσει και το τυπικό σκέλος της
                σπουδαίας του μεταγραφής στην «Ένωση».</p>
        </div>
        <div><h2><a href=””>Second post</a></h2>
             <p>Published on: 14.06.2019, 12:14</p>
             <p>Σύμφωνα με όσα μετέφερε ο Νικολακόπουλος ο Ολυμπιακός κλείνει τον Καμπράλ
                 αλλά και είναι ακόμη ανοικτό το ενδεχόμενο για τον Βέζο.</p>
        </div>
    </body>
</html>
