body {
  padding-left: 15px;
  font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.page-header {
    background-color: #6C3643;
    margin-top: 0;
    padding: 30px 30px 40px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

/* Εφαρμογή του font-family Roboto σε όλους τους τίτλους */
h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

/* Ρυθμίσεις για την κλάση panel που χρησιμοποιείτε στην εμφάνιση κάθε βιβλίου */
.panel {
    margin-bottom: 50px;
}

.panel-heading h2 a, .panel-heading h2 a:visited {
    color: #000000; /* Εξασφαλίζει ότι οι σύνδεσμοι μέσα στον τίτλο είναι μαύροι */
    overflow: hidden; /* Κρύβει το περιεχόμενο πέραν του σταθερού μήκους */
    text-overflow: ellipsis; /* Εμφανίζει τριάδες στο τέλος του τίτλου */
    flex-shrink: 1;
    min-height: 200px; /* Σταθερό ύψος για την πλαισιο */
}

/* Εφαρμογή των ρυθμίσεων στο κύριο σώμα της σελίδας για να αντικαταστήσει την κλάση .content */
.container {
    margin-left: 40px;
}

/* Ρύθμιση για την εμφάνιση των ημερομηνιών, αν και δεν υπάρχει στο παραδοτέο HTML */
.date {
    color: #747373;
}

.panel-body {
    color: #000000;
    text-align: justify;
}

.book-detail img {
    vertical-align: middle; /* Κεντράρει την εικόνα κατακόρυφα */
    float: left;
    width: 300px;
    height: 300px;
}

.book-detail {
    max-width: 800px;
    margin: 0 auto; /* Κεντράρει το πλαίσιο στην οριζόντια επιφάνεια */
}

.flex-container {
    display: flex;
}

.text-section {
    flex-grow: 1; /* Οι ενότητες κειμένου να μεγαλώνουν για να πάρουν το διαθέσιμο χώρο */
}

.book-cover {
    max-width: 200px;
    max-height: 200px;
    margin-left: 20px; /* Απόσταση μεταξύ της εικόνας και του κειμένου */
    border: 3px solid #000; /* Περίγραμμα γύρω από την εικόνα */
    box-sizing: border-box; /* Το box-sizing προσθέτει το πάχος του περιγράμματος στο συνολικό πλάτος του στοιχείου */
    min-height: 100px; /* Σταθερό ύψος για την εικόνα */
}

.btn {
    margin-top: 10px;
}

.image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    top: 50px;
    height: calc(100% - 70px);
    border: 3px solid #000;
    box-sizing: border-box;
}

.square-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Εξασφαλίζει ότι η εικόνα καλύπτει πλήρως τον χώρο του περιγράμματος */
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Αρχικός ευθυγράμμιση προς τα αριστερά */
}

.book-panel {
    width: 33.33%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.panel-heading {
    min-height: 120px; /* Σταθερό ύψος για τον τίτλο */
    display: flex;
    align-items: center; /* Κεντράρει το περιεχόμενο του panel-heading κατακόρυφα */
    flex-wrap: wrap;
}

.panel-body {
    flex-grow: 1; /* Το κείμενο να καταλαμβάνει το διαθέσιμο κενό */
}
