{% extends 'books/base.html' %}

{% block main_content %}
    <div class="about-us">
        <h2>About Us</h2>
        <p>Η web εφαρμογή BooksHub αποτελεί έργο συνεργασίας που υλοποιήθηκε στο πλαίσιο του μαθήματος Ανάπτυξη Λογισμικού, συγκεκριμένα για το μεταπτυχιακό πρόγραμμα Εφαρμοσμένη Πληροφορική του Διεθνούς Πανεπιστημίου της Ελλάδος.
            Κατά τη διάρκεια της ανάπτυξης της εφαρμογής, επικεντρωθήκαμε στη δημιουργία ενός φιλικού περιβάλλοντος για τον χρήστη, όπου μπορεί εύκολα να εξερευνήσει τη βιβλιοθήκη που προσφέρεται. Έμφαση δόθηκε επίσης στην προσθήκη λειτουργικοτήτων που διευκολύνουν την αναζήτηση βιβλίων βάσει συγγραφέων, εκδόσεων και κατηγοριών, καθώς και στην παρουσίαση λεπτομερειών για κάθε βιβλίο.
            Η ανάπτυξη της BooksHub υπήρξε μία πρόκληση που μας επέτρεψε να εφαρμόσουμε σύγχρονες τεχνικές προγραμματισμού και να ενισχύσουμε την ομαδική μας δουλειά. Η συνεργασία και η αμοιβαία υποστήριξη ήταν κλειδί στην επίτευξη του τελικού αποτελέσματος, κάτι που αντικατοπτρίζει την αξία της ομαδικής προσπάθειας στην ανάπτυξη λογισμικού.
            Η προσπάθεια αυτή συνέβαλε σημαντικά στην εκπαιδευτική μας εξέλιξη, παρέχοντας μας πολύτιμες γνώσεις και εμπειρίες.
        </p>
        <p class="signature"> Η ομάδα ανάπτυξης της BooksHub, </p>
        <p class="team-names">
            <span class="first-name">Διαμαντίδης Γεώργιος</span>
            <span class="second-name">Καρανικιώτης Ιωάννης</span>
        </p>
        <a href="{% url 'book_list' %}" class="btn btn-primary">Back to Book List</a>
    </div>
{% endblock main_content %}

