{% load static %}
<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/books.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1><a href="/">BooksHub</a></h1>
    </div>
    {% block main_content %}{% endblock main_content %}

</div>
<footer class="footer">
        <div class="container">
            <p class="text-muted">
                <!-- Εάν ο χρήστης δεν βρίσκεται στη σελίδα "About Us", τότε εμφανίστε τον σύνδεσμο "About Us" -->
                {% if 'about_us' not in request.path %}
                    <!-- Προσθήκη συνδέσμου για τη σελίδα "About Us" με προσαρμοσμένο στυλ -->
                    <a id="about-us-link" href="{% url 'about_us' %}">About Us</a>
                {% endif %}
            </p>
        </div>
</footer>

</body>
</html>
