{% extends 'books/base.html' %}

{% block content %}
    {% for book in books %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2><a href="{% url 'book_detail' pk=book.pk %}">{{ book.title }}</a></h2>
        </div>
        <div class="panel-body">
            <img src="{{ book.cover.url }}" alt="Εξώφυλλο του βιβλίου {{ book.title }}">
            <p>Συγγραφέας: {{ book.author.first_name }} {{ book.author.last_name }}</a></p>
            <p>Εκδόσεις: {{ book.publisher.name }}</a></p>
        </div>
    </div>
    {% empty %}
        <p>Δεν υπάρχουν βιβλία για εμφάνιση.</p>
    {% endfor %}
{% endblock content %}
