{% extends 'books/base.html' %}

{% block content %}
    <div class="book-list">
        {% for book in books %}
            <div class="book-panel">
                <div class="panel-body square-image-container">
                    <h2><a href="{% url 'book_detail' pk=book.pk %}">{{ book.title }}</a></h2>
                    <div class="image-overlay"></div>
                    <img src="{{ book.cover.url }}" alt="Εξώφυλλο του βιβλίου {{ book.title }}" class="square-image">
                    <p>Συγγραφέας: {{ book.author.first_name }} {{ book.author.last_name }}</p>
                    <p>Εκδόσεις: {{ book.publisher.name }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
