{% extends 'books/base.html' %}

{% block main_content %}
    <div class="row row2">
        <div class="col-sm-2">Αναζήτηση</div>
            <div class="col-sm-8">
                <form type="get" action=".">
                    <input type="text" name="txt">
                    <input  type="submit" value="Submit">
            </form>
        </div>
    </div>
    <br>
    <div class="welcome-message">
        <h2>Καλωσήρθατε στο BooksHub!</h2>
        <p>Ανακαλύψτε έναν κόσμο γνώσης και περιπέτειας μέσα από τα βιβλία που αγαπάτε. Εξερευνήστε, διαβάστε και εμπνευστείτε!</p>
    </div>
    <br>
    <div class="book-list">
        {% for book in books %}
            <div class="book-panel">
                <div class="panel-heading">
                    <h2><a href="{% url 'book_detail' pk=book.pk %}">{{ book.title }}</a></h2>
                </div>
                <div class="panel-body">
                    <div class="image-container">
                        <img src="{{ book.cover.url }}" alt="Εξώφυλλο του βιβλίου {{ book.title }}" class="square-image">
                    </div>
                </div>
                <p class="author-publisher-info">
                    <span>Συγγραφέας: {{ book.author.first_name }} {{ book.author.last_name }}</span>
                    <span>Εκδόσεις: {{ book.publisher.name }}</span>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock main_content %}
